:root {
  color-scheme: light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f7f8fc;
}

.admin-error-snackbar .mdc-snackbar__surface {
  background-color: #5f2120 !important;
}
